/* Base colors */
:root {
    --red-title-color: #E63946;
    --white-title-color: #fff;  
    --blue-title-color: #457B9D;  
    --site-bg-color: #FAFAFA;
    --site-header-bg-color: #1A1A1A;
    --menu-bg-color: #2C2C2C;


    --primary-text-color: #fff;

    --link-text-hover-special-color: #D32F2F;
    --link-text-color: #fff;
    --link-text-hover-color: #e0e0e0;
    --btn-text-color: var(--red-title-color);
    --btn-text-hover-color: var(--link-text-hover-special-color);

    --footer-text-color: #837d7d;
    --footer-icon-color: #cdc4c4;

    --image-data-container-text: var(--footer-text-color);


    --author-text-color: #EADCA6;
    --title-text-color: var(--author-text-color);

    --document-bg-color: #2E2E2E;
    --document-border-color: #1a1a1a;
    --document-header-bg-color: #2E2E2E;
    --document-footer-bg-color: #262626;
    --comment-bg-color: #3b3b3b;
    --comment-header-bg-color: #3b3b3b;
    --comment-text-color: #fff;

    --body-bg-color: #1A1A1A;


    --redpill-info-extras-color: #ffffffd3;

    --image-name-color: #ffffffd3;
    --image-name-hover-color: var(--link-hover-color);
    --link-color: #FF6B6B;
    --link-hover-color: #FF8E8E;

    --redpill-info-id-color: var(--author-text-color);
    --redpill-info-id-hover-color: var(--image-name-hover-color);

    --greentext-color: #9ccc23; 
    /*--greentext-color: #789922;*/

    --redpill-message-data-color: var(--author-text-color);

    --actions-text-color: var(--primary-text-color);

    --error-bg-layer-color: 46, 46, 46;

    --secondary-list-item-color: #b4b0b0;

    --button-background-color: #000;
    --button-hover-bg-color: var(--red-title-color);
    --button-text-color: #fff;
}

/* Base document settings */
html {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}
/* Base document settings end */

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
/* Global reset end */

/* Global styles */
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--red-title-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--site-header-bg-color);
}
::-webkit-scrollbar:hover {
    background-color: var(--link-text-hover-special-color); 
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    font-size: 1rem;
    flex: 1;
}
body {
    color: var(--primary-text-color);
    background-color: var(--body-bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: var(--link-text-color);
}
li {
    list-style-type: none;
}
button {
    color: var(--btn-text-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button:hover {
    color: var(--btn-text-hover-color);
}
/* Global styles end */



/* Title styles */
.header-web-title a {
    color: var(--white-title-color);
}
.header-web-title a:hover {
    opacity: 0.9;
}
.title-red {
    color: var(--red-title-color);
}
.title-white {
    color: var(--white-title-color);
}
.title-blue {
    color: var(--blue-title-color);
}
.greentext {
    color: var(--greentext-color);
}
/* Title styles end */


/* Content wrapper */
.content-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0rem 1rem;
}
.error-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    height: 300px;
    background: linear-gradient(
        rgba(var(--error-bg-layer-color, 46, 46, 46), 0.98), 
        rgba(var(--error-bg-layer-color, 46, 46, 46), 0.98)
    ), 
    url(../imgs/desert.jpg);    background-size: cover;
    background-position: center;
    margin-bottom: 0.1rem;
}

.error-msg {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}
.error-msg i {
    font-size: 42px;
    color: white;
    color: #A67B5B;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--document-bg-color);
    margin-bottom: 0.1rem;
}
.about-content p { font-size: 1.2rem; height: 100%; display: flex; align-items: center; padding: 1rem 1rem; }
.about-content h1 { font-size: 1.5rem; width: 100%; height: 100%; background-color: var(--red-title-color); padding: 0 1rem; }
.about-content h2 { width: 100%; height: 100%; background-color: var(--red-title-color); padding: 0 1rem; }

.comments-pill-container .about-content {
    margin-bottom: 0.3rem;
}
/* Content wrapper end */


/* Header*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
header nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
header button, header nav ul li a i, .header-hamburger {
    font-size: 1.1rem;
}

.header-right-side a:hover {
    color: var(--link-text-hover-color);
}

.header-hamburger {
    color: var(--link-text-color);
}
.header-hamburger:hover {
    color: var(--link-text-hover-color);
}

header, footer {
    background-color: var(--site-header-bg-color);
}

header {
    font-size: 1.1rem;
}

header button {
    background: none;
    border: none;
    height: 100%;
}

header .content-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right-side {
    display: flex;
    align-items: center;
}

.header-right-side nav {
}

.header-right-side nav {
    display: none;
    width: 30rem;
}

.header-right-side .header-nav.active {
    display: block;
}

.content-container .header-right-side .header-nav ul {
    display: flex;
    align-items: center;
}

.header-right-side {
    height: 100%;
    display: flex;
}

.header-right-side nav ul {
    display: flex;
    height: 100%;
    justify-content: right;
}

.header-right-side, .header-right-side nav ul {
    gap: 1rem;
}

.header-right-side nav ul li:nth-child(2) a {
    color: var(--red-title-color);
}
.header-right-side nav ul li:nth-child(2) a:hover {
    color: var(--link-text-hover-special-color);
}
/* Header end */

/* Footer */
footer {
    color: var(--footer-text-color);
    padding: 1rem 0;
}
footer .footer-web-title a,
footer .footer-web-title .title-red,
footer .footer-web-title .title-white,
footer .footer-web-title .title-blue {
    filter: saturate(0%);
}
footer .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}
footer .left-side {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
footer .left-side .footer-web-title {
    font-size: 1.5rem;
}
.footer-external-links ul {
    display: flex;
    gap: 1rem;
}
.footer-external-links ul i {
    font-size: 1.3rem;
    color: var(--footer-icon-color);
}
.footer-disclaimer p {
    font-size: 0.8rem;
}
footer .right-side .footer-navigation {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.nav-column li a {
    color: var(--footer-icon-color);
    font-size: 0.7rem;
}
.nav-column li a:hover {
    text-decoration: underline;
}
.nav-column {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.nav-column ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.nav-column h4 {
    color: var(--link-text-hover-special-color);
}
/* Footer end */


/* Redpill search*/
.options-container {
    display: flex;
    align-items: center;
    height: 42px;
    flex: 1;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--document-bg-color);
}

.options-container button:hover {
    color: var(----btn-text-hover-color);
}
.options-container i, .search-btn {
    font-size: 1.1rem;
}
.search-input-container {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: none;
    flex: 1;
    padding: 0 1rem;
}
.search-input {
    flex: 1;
    background-color: var(--document-bg-color);
    color: var(--primary-text-color);
    border: none;
    height: 100%;
    outline: none;
  
    font-size: 1.1rem;
    overflow: hidden;       
}
.search-btn {
    background-color: var(--document-bg-color);
    border: none;
    cursor: pointer;
    height: 100%;
}
.filter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--document-bg-color);
    padding: 0 1rem;
}

.filter-buttons {
    display: flex;
    height: 100%;
    border-left: none;
    border-bottom: none;
}
.filter-buttons i {
    margin-left: 5px; 
}

.filter-btn {
    border: none;
    background-color: var(--document-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    transition: color 0.3s;
}
.filter-btn span {
    font-size: 1.1rem;
}
/* Redpill search end*/

/* Bottom controls*/
.bottom-controls {
    background-color: var(--document-bg-color);
    display: flex;
    flex: 1;
    height: 42px;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
}
.bottom-controls-icon {
    font-size: 1.3rem;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    color: var(--author-text-color);
}
.pagination, .bottom-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.pagination nav, .bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pagination nav ul,  .bottom-nav nav ul {
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.pagination nav ul li,  .bottom-nav nav ul li, .bottom-controls .bottom-nav button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    transition: background-color 0.3s;
    height:100%;
    font-size: 1.1rem;
    transition: 0.3s;
    background-color: var(--document-bg-color);
}
.current-page {
    color: var(--author-text-color);
}
.bottom-controls .bottom-nav button {
    border: none;
    padding: 0;
    color: var(--primary-text-color);
}

.pagination nav ul li:hover, .bottom-controls .bottom-nav button:hover {
    color: var(--link-hover-color);
}
.bottom-nav nav ul li a {
    transition: 0.3s;
}
.bottom-nav nav ul li a:hover {
    color: var(--link-hover-color);
}
.bottom-controls select {
    border-radius: 5px;
    appearance: none; 
    height: 100%;
    outline: none;
    border: none;
    color: var(--primary-text-color);
    background-color: var(--document-bg-color);
    font-size: 1.1rem;
    color: var(--author-text-color);
    cursor: pointer;
    transition: 0.3s;
}
/* Bottom controls end*/
.bottom-controls select:hover {
    color: var(--link-hover-color);
}

/* Redpill */
.rate-pill-container {
    /*padding: 1rem 0;*/
}

.side-redpill-bar1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
}
.side-redpill-bar2 {
    display: flex;
    position: absolute;
    height: 1px;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
}
.side-redpill-bar3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
}

.side-like-bar, .side-dislike-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.05rem 0;
}

.side-like-bar {
    background-color: var(--red-title-color);
}

.side-dislike-bar {
    background-color: var(--blue-title-color);
}










.redpill-bar {
    display: flex;
    color: #fff;
    font-size: 1rem;
}

.like-bar, .dislike-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.05rem 0;
}

.like-bar i, .dislike-bar i {
    margin-right: 5px; 
}

.like-bar {
    background-color: var(--red-title-color);
}

.dislike-bar {
    background-color: var(--blue-title-color);
}

.redpill {
    display: block; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /*background-color: var(--white-title-color);*/
    background-color: var(--document-bg-color);
    /*border: 1px solid var(--document-footer-bg-color);*/
    position: relative;
}

.comments-pill-container .redpill  {
    /*background-color: #f9f9f9;*/
    color: var(--comment-text-color);
    background-color: var(--comment-bg-color);
    /*margin-bottom: 0.6rem;*/
}
.comments-pill-container .redpill, .redpill-actions, .options-container {
    margin-bottom: 0.1rem;
}

.comments-pill-container .redpill .redpill-info  {
    background-color: var(--comment-header-bg-color);
}

.redpill-info {
    /*background-color: #f9f9f9;*/
    padding: 0;
}
.redpill-actions {
    padding: 1rem;
}
.redpill-info {
    background-color: var(--document-header-bg-color);
}
.redpill-actions {
    background-color: var(--document-footer-bg-color);
}

.comments-pill-container .redpill-info {
    padding: 0;
}
.redpill-info-author {
    color: var(--redpill-info-extras-color);
    margin-right: 0.3rem;
}
.author {
    color: var(--author-text-color);
}
.redpill-info-title {
    color: var(--title-text-color);
}
.redpill-info-title, .redpill-info-date, .redpill-info-country {
    margin-right: 0.3rem;
}



span.redpilled button, .redpilled{
    color: var(--red-title-color);
}
span.bluepilled button, .bluepilled {
    color: var(--blue-title-color);
}

.redpill-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.redpill-info-left, .redpill-info-right {
    display: flex;
    flex-wrap: wrap;
}
.redpill-info-left {
    align-items: center;
    flex: 1;  
    max-width: 90%;  
}
}
.redpill-info-right {
    flex:1;
    margin-left: auto;
}

.redpill-info-id a {
    color: var(--redpill-info-id-color);
}
.redpill-info-id a:hover {
    color: var(--redpill-info-id-hover-color);
}
.redpill-info-right {
    color: var(--redpill-info-extras-color);
}

.comments-pill-container .redpill-info-right {
    margin-left: 0.3rem;
}

.image-name {
    white-space: nowrap;     
    overflow: hidden;       
    text-overflow: ellipsis; 
    display: block;
    max-width: 50%;
    color: var(--image-name-color);
}
.image-name:hover {
    text-decoration: underline;
    color: var(--image-name-hover-color);
}

.redpill-actions {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    font-size: 1.3rem;
    flex-wrap: wrap;
}

.redpill-content {
    position: relative;
    padding-bottom: 1.5rem;
    align-items: flex-start; 

    opacity: 0;
    transition: opacity 1s;
}
.redpill-content.loaded {
    opacity: 1;
}

.comments-pill-container .redpill-content {
    padding-bottom: 0;
}

.redpill-image-container {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-right: 0.8rem;
}

.no-float {
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
}

.redpill-image img {
    max-width: 100%;
    display: block;
    height: auto;
}
.redpill-image:hover {
    cursor: pointer;
}
.redpill-image img.landscape {
    max-width: 300px;
    max-height: 200px;
}
.redpill-image img.portrait {
    max-width: 300px; 
    max-height: 400px;
}
.comments-pill-container .redpill-image img.landscape {
    max-width: 200px;
    max-height: 100px;
}
.comments-pill-container .redpill-image img.portrait {
    max-width: 150px; 
    max-height: 250px;
}
.redpill-image-data-container {
    display: flex;
    color: var(--redpill-info-extras-color);
    font-size: 0.9rem;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.redpill-message {
    padding: 0.8rem;
}
.info-long-message {
    color: var(--secondary-list-item-color);
    font-size: 1.1rem;
    display: block;
    margin-top: 0.3rem;
}
.info-long-message-btn {
    background-color: var(--document-bg-color);
    border: none;
    padding: 0;
    font-size: 1.1rem;
    color: var(--link-color);
}
.info-long-message-btn:hover {
    color: var(--link-hover-color);
}

.redpill-message p {
    white-space: pre-line;
    word-wrap: break-word;
}

.redpill-message a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.redpill-message a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.redpill-message-data {
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0; 
}

.redpill-message-data .counter-container {
    display: flex;
    margin-left: auto;
    color: var(--redpill-message-data-color);
    gap: 1rem;
}


.redpill-actions-buttons {
    display: flex;
    margin-left: auto;
    gap: 2rem;
    flex-wrap: wrap;
}

.redpill-actions-buttons button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: none;
    background: none;
    font-size: 1.3rem;
    padding: 0;
    color: var(--actions-text-color);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999; 
}

#my-modal .redpill {
    background-color: var(--document-bg-color);
    margin: 15% auto;
    border: 1px solid #888;
    width: 450px;
    padding-top: 0;
}

.modal-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
    font-weight: bold;
}

.fa-x {
    color: var(--red-title-color);
}
.fa-x:hover {
    color: var(--link-text-hover-special-color);
}

#close-modal-btn {
    color: #aaaaaa;
    float: right;
    cursor: pointer;
}

/* Redpill end */

/* Redpill form */

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}
.form-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.form-row input[type="text"], 
.form-row textarea {
    width: 100%; 
    padding: 0.5rem;
    border: 1px solid #ddd; 
    color: var(--primary-text-color);
    background-color: var(--document-bg-color);
    font-size: 1rem;
    transition: border-color 0.3s;
}
.form-row input[type="file"] {
    margin: 0.5rem 0;
}

.form-row input[type="text"]:focus, 
.form-row textarea:focus {
    border-color: var(--red-title-color);
    outline: none;
}

.form-row textarea {
    resize: vertical;
}

.form-row button[type="submit"] {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
}
.form-row button[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
}
/* Redpill form end*/

/* Info container */

.info-container {
    background-color: var(--document-bg-color);
    padding: 1rem 0;
}
.info-row {
    margin-bottom: 1rem;
}
.info-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}
.info-container ol {
    margin-bottom: 1rem;
    padding: 0 3rem;
}
.info-container ul {
    padding: 0 1rem;
}
.info-container ol li {
    list-style-type: decimal;
}
.info-container ul li {
    list-style-type: lower-latin;
    color: var(--secondary-list-item-color);
}
.info-container ol li, .info-container ul li, .info-container p {
    margin-bottom: 0.3rem;
}
.info-container p, .info-container h2 {
    padding: 0 1rem;
}
.text-emphasis-line {
    display: inline-block;
    display: inline-block;
    border-bottom: 0.4rem solid var(--red-title-color);
}
.crypto-address-text {
    color: var(--red-title-color);
}
/* Info container end */

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    background-color: var(--document-bg-color);
    padding: 2rem 0;
}
.card {
    display: flex;
    padding: 0rem 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s; 
    cursor: pointer;
}
.card:hover {
    transform: scale(1.1); 
    z-index: 1;
}
.card i {
    font-size: 5rem;
}
.card p {
    color: #fff;
    background-color: var(--red-title-color);
    font-weight: bold;
    padding: 0.5 1rem;
}
.cards a {
    text-decoration: none; 
    color: inherit; 
    display: block;
}
/* Cards end*/

/* Thoughts container */
.content-section h2 {
    padding-bottom: 0.3rem;
}

.content-section p {
    padding-bottom: 1rem;
}

.index-content-container .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.index-content-container .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.index-content-container .hero-content {
    z-index: 2;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-content-container .hero-content h2 {
    font-size: 3rem;
} 
.index-content-container .hero-content p {
    font-size: 1.2rem;
} 

.index-content-container .call-to-action {
    background-color: var(--menu-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.content-section-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.index-content-container button {
    border: none;
    background-color: #fff;
    color: var(--btn-text-color);
    font-weight: bold;
}

.index-content-container button:hover {
    color: var(--btn-text-hover-color);
}

.index-content-container footer {
    text-align: center;
    font-style: italic;
    background-color: #eee;
}
/* Thoughts container end*/

/* Media queries */
@media only screen and (max-width: 1300px) {
    .redpill-info-left, .redpill-info-right {
        width: 100%;
    }
    .redpill-actions-buttons {
        width: 100%;
    }
    .comments-pill-container .redpill-info-right {
        margin-left: 0;
    }
}
@media only screen and (max-width: 840px) {
    .redpill-image img.landscape {
        max-width: 300px;
        max-height: 200px;
    }
    .redpill-image img.portrait {
        max-width: 200px; 
        max-height: 300px;
    }
    .span-hide {
        display: none;
    }
    .filter-buttons i {
        margin-left: 0; 
    }
    .redpill-actions-buttons {
        width: 100%;
        justify-content: center;
        gap: 4rem;
    }
    .redpill-actions-buttons i {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 740px) {
    .redpill-image img.landscape {
        max-width: 100%;
        max-height: 50%
    }
    .redpill-image img.portrait {
        max-width: 100%; 
        max-height: 100%;
    }
    .redpill-image-container.pill-image {
        float: none;
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
    }

    .comments-pill-container .redpill-image img.landscape {
        max-width: 200px;
        max-height: 100px;
    }
    .comments-pill-container .redpill-image img.portrait {
        max-width: 200px; 
        max-height: 300px;
    }

    footer .content-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    footer .content-container .left-side {
        align-items: center;
    }
    footer .right-side {
        padding-bottom: 2rem;
    }
    .footer-external-links {
        padding-bottom: 2rem;
    }
    .footer-disclaimer {
        text-align: center;
    }
    .redpill-info-right {
        gap: 0.3rem;
    }
    .redpill-info {
    }
}
@media only screen and (min-width: 920px) {
    .header-right-side nav {
        display: block;
    }
    .header-hamburger {
        display: none;
    }
}
@media only screen and (max-width: 920px) {
    .header-right-side nav {
        position: fixed;
        top: 50px;
        left: 0;
        flex-direction: column;
        background-color: var(--menu-bg-color);
        text-align: center;
        width: 100%;
        padding: 1rem 0;
    }
    .header-right-side nav ul {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
    }
    .header-right-side nav ul li a {
        display: block;
        padding: 1rem 0;
        height: 100%;
        width: 100%;
    }
}
/* Media queries end */